body {
    font-family: Arial, sans-serif;
    background-color: #342d40;
    color: rgb(231, 224, 224);
    margin: 0;
    padding: 10;
}

header {
    background: #262424;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0fdde4;
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #041c5d;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

form label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

form input, form select {
    width: 20%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #9a080a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

#confirmation-message {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Prevents overlap with other elements */
    clear: both; /* Ensures footer clears any floated content */
}
